<!-- This component shows the all the related informattino to the agent-->
<template>

  <div class="agent">
    <div class="container">
      <div class="row border border-info rounded p-3 mb-3">
        <div class="col">
          <h1>{{ agent.first_name }} {{ agent.last_name }}</h1>
          <p>Telephone: {{ agent.telephone}}</p>
          <p>Email: {{ agent.email}}</p>
        </div>

        <div class="col-3">
          <img class="img-fluid rounded-circle border border-info" v-bind:src="'/static/profilePics/' + agent.id + '.jpg'" />
        </div>
      </div>
    </div>

    <div class="container border border-info rounded p-3">
      <div class="row p-3">
        <h3>{{ agent.first_name }}'s Listings</h3>
      </div>

      <div class="row">
        <div class="col">
          <div v-for="(house, index) in agent.listings" v-bind:key="index">
            <HouseListItem v-bind:agentId="agent.id" :agentFullName="`${agent.first_name} ${agent.last_name}`" v-bind:house="house" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HouseListItem from "./HouseListItem.vue";

export default {
  name: "Agent",
  components: {
    HouseListItem,
  },
  props: {
    agent: Object, //Gets props from the AgentProfile in the views directory. It send props to the HouseListItem.
  },
};
</script>