<!-- List all HouseListItems, its imports the data from the house_data.json, it passes the props to the child component HouseListItem and renders them -->
<template>

  <div class="houseLister">
    <div class="container">
      <header class="mt-3 mb-3">
        <h1>Houses for Sale</h1>
        <hr>
      </header>

      <div v-for="(agent, agentIndex) in houseData" v-bind:key="agentIndex">
        <div v-for="(house, houseIndex) in agent.listings" v-bind:key="houseIndex">
          <HouseListItem
            :house="house"
            :agentId="agent.id"
            :agentFullName="`${agent.first_name} ${agent.last_name}`"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HouseListItem from "./HouseListItem";
import localJson from "../assets/house_data.json";
export default {
  components: { HouseListItem },
  data() {
    return {
      houseData: localJson,
    };
  },
  created() {
    this.houseData = localJson;
  },
};
</script>