<!-- A listing component who shows limited information, takes props from HouseLister and passes props to HouseView and AgentProfile-->
<template>

  <div class="container border border-info rounded p-3 mb-3">
    <div class="row">
      <span class="col">
        <h3>{{ house.address }}</h3>
        <p>{{ house.description }}</p>
      </span>
      <span class="col-3">
        <img class="img-fluid" v-bind:src="house.images[0]"/>
      </span>
    </div>
    
    
    Agent: <router-link v-bind:to="{path: '/agent/'+agentId}">{{agentFullName}}</router-link> |
    <router-link v-bind:to="{name: 'House', params:{ house: house, agentId: agentId, agentFullName: agentFullName}}"  > Show more</router-link>
    
    </div>
</template>

<script>
export default {
props:{
  house: Object,
  agentId: Number,
  agentFullName: String
}
}

</script>