<template>
  <div class="house">
    <div class="container border border-secondary rounded p-3">
      <div class="container">
        <div class="row">

          
          <h1>{{ house.address }}</h1>
        </div>

        <div class="row mb-5">
          <div class="col-4 p-0">{{ house.description }}</div>

          <div class="col text-right">
            <p>
              Agent:
              <router-link :to="{path: '/agent/'+agentId}">{{ agentFullName }}</router-link>
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col text-right">
          <GmapMap :center="{lat: house.latitude, lng:house.longitude}" :zoom="13" style="width: 400px; height: 200px">
           <GmapMarker :position="{lat: house.latitude, lng:house.longitude}"/>
          </GmapMap>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <h4>Images</h4>
        </div>
        <div class="row">
          <div class="col p-2" v-for="image in house.images" v-bind:key="image">
            <img v-bind:src="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // Display all information for one single house object. Including all images and a map. it takes props from the HouseView. 
  props: {
    house: Object,
    agentId: Number,
    agentFullName: String,
  },
};
</script>