<template>
  <div id="app">
    <nav class="navbar navbar-light bg-info mb-3">
      <router-link class="navbar-brand text-white" to="/">Home</router-link>
    </nav>
    <router-view />
  </div>
</template>


