<!-- This viewer loads an Agent if the params passed to it matches the id from the house_data.json -->
<template>

  <div class="agent-profile">
    
    <div v-for="object in data" v-bind:key="object.id">
      <p v-if="object.id == $route.params.id">
        <Agent v-bind:agent="object" />
      </p>
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Agent from '@/components/Agent.vue'
import data from '../../data/house_data.json'

export default {
  name: 'AgentProfile',
  components: {
    Agent,
  },
  data() {
    return {
      data: data,
    }
  }
}
</script>
