<!-- Views the HouseLister Component -->
<template>

  <div class="home">
    <HouseLister/>
  </div>
</template>

<script>
// @ is an alias to /src
import HouseLister from '@/components/HouseLister.vue'

export default {
  name: 'Home',
  components: {
    HouseLister
  }
}
</script>
