<!-- The HouseView displays the housecomponent -->
<template>

  <div class="house">
    <House :house="house" :agentId="agentId" :agentFullName="agentFullName"/>
  </div>
</template>

<script>
// @ is an alias to /src
import House from '@/components/House.vue'



export default {
  name: 'HouseView',
  components: {
    House
  },
  props:{
    house:Object,
    agentId: Number,
    agentFullName: String
  }
}
</script>
